<div class="container">
  <div class="row">
    <ul>
    <% @elements.each do |element| %>
      <li>
        <%= element.name %>
        <%= element.number %>-
        <%= element.period %>,
        <%= element.atomic_mass %>
      </li>
    <% end %>
    </ul>
  </div>
</div>



