

<table>
  <tbody>
    <% 9.times do |i| %>
      <tr>
        <% 14.times do |j| %>
          <td class="element" data-xpos="<%= i+1 %>" data-ypos="<%= j+1 %>"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_pack_tag 'elements' %>

