@import "~bootstrap";

body {
  background: #313435;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element {
  border: 1px solid;
  border-collapse: collapse;
  height: 50px;
  width: 50px;
}