@import "~bootstrap";

*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}

body {
  background: #313435;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


#grid-container {
  margin-top: 5em;
  display: grid;
  // height: 700px;
  // max-width: 1000px;
  position: relative;
  gap: 10px;
  margin: auto;
  grid-template-columns: repeat(18, 100px);
  grid-template-rows: repeat(7, 100px) 100px repeat(2, 100px);
}


section{
	position:relative;
	display:flex;
	flex-direction:column;
	align-items: flex-start;
  justify-content: center;
	border:1px solid;
  padding-left: 3px;
}

span{
	font-size:.75em;
}


h2{
	font-size:25px;
  margin-bottom: 0;
}
p {
  font-size: 1em;
  margin-bottom: 0;
}
p:last-child{
	font-size:.8em;	
}

.He {
  grid-column: 18;
}

.B {
  grid-column: 13;
}

.Al {
  grid-column: 13;
}
.Hf {
  grid-row: 6;
  grid-column: 4;
}

.Rf {
  grid-row: 7;
  grid-column: 4;
}

.La {
  grid-row: 9;
  grid-column: 4;
}

.Ac {
  grid-row: 10;
  grid-column: 4;
}
